/*
 * -----------------------------------------------------------------------------
 * LOCAL FONTS
 *
 * This is where you define your @font-face rules for locally hosted fonts.
 * Eleventy Excellent uses this approach for better performance and privacy.
 *
 * 1. Add your font files (e.g., .woff2) to the `src/assets/fonts/your-font-family/` directory.
 * 2. Define the @font-face rules below, making sure the `url()` paths are correct.
 * The path will be relative to this CSS file's location.
 * For fonts in `src/assets/fonts/font-family/`, the path from here is
 * `../../../fonts/font-family/font-filename.woff2`.
 * 3. Update `src/_data/designTokens/fonts.json` to use the `font-family` names you define here.
 * -----------------------------------------------------------------------------
 */

/* === NEWSREADER FONT FACES === */

/* Newsreader(Normal) */
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-display: swap;
  font-weight: 200 800;
  /* Corresponds to 'regular' */
  src:
    local(''),
    url('/assets/fonts/newsreader/newsreader-variablefont_opszwght-webfont.woff2') format('woff2-variations');
}

/* Newsreader (Italic) */
@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-display: swap;
  font-weight: 200 800;
  /* Corresponds to 'italic' or 'regular italic' */
  src:
    local(''),
    url('/assets/fonts/newsreader/newsreader-italic-variablefont_opszwght-webfont.woff2') format('woff2-variations');
}