---
layout: base
permalink: /index.html
title: 'CritLit'
description: 'Eleventy starter using modern CSS, fluid type, fluid spacing, flexible layout and progressive enhancement.'
blog:
  title: 'Latest Trial Summaries'
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/waves",
    null,
    "divider" %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2 id="an-eleventy-starter">{{ meta.siteDescription }}
      </h2>
      <p>
        CritLit is a dynamic repository offering concise summaries and analyses of influential critical care literature. It serves as an essential reference for clinicians, students, and educators to navigate and understand key trials and topics.
      </p>
    </div>
  </article>

  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ blog.title }}</h2>
      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allTrials %}
          {% asyncEach item in itemList.slice(0, 4) %}
          {% set headingLevel = "h3" %}
          {% include "partials/card-trial.njk" %}
          {% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>