---
layout: tags
pagination:
  data: collections.uniqueTopics
  size: 1
  alias: topic
permalink: /topics/{{ topic | slugify }}/
eleventyComputed:
  title: '{{ topic }}'
---

<custom-masonry layout="50-50">
  {% set itemList = collections[topic] | reverse %}
  {% for item in itemList %}

    {% include "partials/card-tag.njk" %}
  {% endfor %}
</custom-masonry>

<h2 class="text-step-2">{{ meta.blog.tagMore }}</h2>

<ul class="taglist | my-s-m cluster gutter-s" role="list">
  {% for tag in collections.uniqueTopics %}
    <li>
      <a
        href="/topics/{{ topic | slug}}"
        class="button"
        {{
          helpers.getLinkActiveState('/conditions/' + condition,
          page.url)
          |
          safe
        }}
      >
        {{ tag }}
      </a>
    </li>
  {% endfor %}
</ul>