{% set headingLevel = headingLevel | default("h2") %}
{% set definedDate = definedDate | default(item.date) %}

<custom-card clickable>
  <{{ headingLevel }} slot="headline" class="text-step-2">
    <a href="{{ item.url | url }}">{{ item.data.acronym }}</a>
  </{{ headingLevel }}>
  <div slot="tag" webc:nokeep>
    {% for condition in item.data.conditions %}
      <span class="button" data-small-button>{{ condition }}</span>
    {% endfor %}
  </div>

  <div slot="content" webc:nokeep>{{ item.data.pico | markdownFormat | safe }}</div>
</custom-card>

{% css "local" %}
{% include "css/custom-card.css" %}
{% endcss %}